body {
  color: #3e4b52;
}

.header {
  padding: 50px 0;
  text-align: center;
}

@media (max-width: 420px) {
  .coinomi-logo {
    width: 100%;
    height: auto;
  }
}

/* Change when updating the hero image to match image size + 20px */
@media (max-width: 680px) {
  .hero {
    width: 100%;
    height: auto;
  }
}

.features {
  padding: 30px 0;
}

.feature {
  text-align: center;
  padding: 10px;
}

.feature .glyphicon {
  font-size: 50px;
}

.leave-space-down {
  padding-bottom: 20px;
}

.leave-space-up {
  padding-top: 20px;
}

.call-to-action {
  text-align: center;
}

.founders {
  text-align: center;
}

.resource {
  width: auto;
  display: block;
  text-align: center;
}

/* .donations img {
    margin-top: 2px;
    height: 25px;
    width: 25px;
} */

.member {
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.08);
  border-radius: 4px;
  padding: 35px 40px 25px;
  text-align: center;
}

.member-avatar {
  border: 10px solid #428bca;
  border-radius: 50%;
  display: inline-block;
  margin: 0 0 20px;
}

.member-name {
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 0.04em;
  margin: 0;
  text-transform: uppercase;
}

.member-position {
  font-size: 17px;
  font-weight: 300;
  margin: 0;
}

.user-contact-form-submit {
  text-align: right;
}

/*
 * Footer
 */

.footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}


.cnm-color1 {
  color: #79AB5D;
}

.cnm-color2 {
  color: #F59226;
}

.cnm-color3 {
  color: #729AEE;
}

.cnm-color4 {
  color: #F2D453;
}

.cnm-color5 {
  color: #73C7EF;
}

.cnm-color6 {
  color: #DC3916;
}

.cnm-color7 {
  color: #658FA1;
}

.cnm-color8 {
  color: #4FBC9C;
}

.cnm-color9 {
  color: #F8BF2F;
}
