body {
  color: #3e4b52;
}

.header {
  padding: 50px 0;
  text-align: center;
}

@media (max-width: 400px) {
  .hero {
    width: 100%;
    height: auto;
  }
}

.features {
  padding: 30px 0;
}

.feature {
  text-align: center;
  padding: 10px;
}

.feature .glyphicon {
  font-size: 50px;
}

.leave-space-down {
  padding-bottom: 20px;
}

.leave-space-up {
  padding-top: 20px;
}

.call-to-action {
  text-align: center;
}

.founders {
  text-align: center;
}


.resource {
  width: auto;
  display: block;
  text-align: center;
}

/* .donations img {
    margin-top: 2px;
    height: 25px;
    width: 25px;
} */

.member {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.08);
    border-radius: 4px;
    padding: 35px 40px 25px;
    text-align: center;
}

.member-avatar {
    border: 10px solid #428bca;
    border-radius: 50%;
    display: inline-block;
    margin: 0 0 20px;

}

.member-name {
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 0.04em;
    margin: 0;
    text-transform: uppercase;
}

.member-position {
    font-size: 17px;
    font-weight: 300;
    margin: 0;
}

/*
 * Footer
 */

.footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}



// TODO put in separate file

.cnm-color1 {
  color: #03bd9c;
}

.cnm-color2 {
  color: #ce2022;
}

.cnm-color3 {
  color: #faa020;
}

.cnm-color4 {
  color: #6fc6f1;
}
