<div class="footer">
  <p>
  &copy; 2015 Coinomi - All rights reserved
  &nbsp; | &nbsp;
  <a href="https://play.google.com/store/apps/details?id=com.coinomi.wallet" target="_blank"><i class="fa fa-android"></i></a>
  &nbsp; | &nbsp;
  <a href="https://github.com/coinomi/" target="_blank"><i class="fa fa-github"></i></a>
  &nbsp; | &nbsp;
  <a href="https://twitter.com/coinomiwallet" target="_blank"><i class=" fa fa-twitter"></i></a>
  &nbsp; | &nbsp;
  <a href="https://www.facebook.com/pages/Coinomi/743756395745507" target="_blank"><i class="fa fa-facebook"></i></a>
  &nbsp; | &nbsp;
  <a href="https://www.linkedin.com/company/9324746" target="_blank"><i class="fa fa-linkedin"></i></a>
  &nbsp; | &nbsp;
  <a href="https://angel.co/coinomi" target="_blank"><i class="fa fa-angellist"></i></a>
  &nbsp; | &nbsp;
  <a href="Press-Kit.zip">press kit</a>
  </p>
</div>

<!-- icons by FontAwesome, crypto-icons by Chris Shepherd -->